.sensor-detail-wrapper {
    padding: 0 10px;

    .display-wrapper {
    	padding: 14px 22px;
    }

    .sensor-type {
    	font-size: 20px;
        margin-bottom: 10px;
    }

    .action-wrapper {
        display: block;
        margin-bottom: 10px;
    }

    .device-action-area {
        .action {
            button.btn {
                margin: 10px 0;
            }
        }
    }

    .table {
        thead {
            tr {
                background-color: transparent;
                background-image: none;
            }
        }
    }
}