\:host {
  display: block;
  height: 100%;
}

.dashboard-area {
  height: 100%;
  padding: 10px;
  
  .row {
    margin: 2em 0 !important;
  }

  .wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 5px double #333;
    background-color: #f5f5f5;
  }

  button {
    width: 250px;
    height: 60px;
    font-size: 20px;
    border-radius: 0;
    color: #fff;
  }
}
  